
  
body{
    background-color: white;
}


#nav-content{
    background-color: red;
}
#ul-content{
    list-style: none;
    display: flex;
    width: 30%;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}
#li-content{
    padding: 30px;
    font-size: 20px;
}
#li-content a{
    color: white;
    text-decoration: none;
}
